* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(4, 4, 82);
}
.nav-bar {
    background-color: white;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
}
.nav-bar i {
    margin-left: 15rem;
    margin-top: 1rem;
    color: aqua;
    animation: ring 3s ease-in-out infinite;
}
.nav-bar p {
    margin-left: 3rem;
}
@keyframes ring {
    50% {
        color: white;
    }
}
a {
    margin-left: 3rem;
}
ul {
 margin-left: 3rem;
 color: black;
 /* display: grid;
 grid-template-columns: 1fr 1fr 1fr; */
 list-style: none;
 display: flex;
}
a {
    color: black;
    text-decoration: none;
}
p {
    font-weight: 600;
    text-transform: uppercase;
    /* margin-left: 20rem; */
    text-align: center;
}
span {
    color: aqua;
}
.link {
    display: grid;
    margin-top: 1rem;
}
.link i {
    margin-left: 15rem;
    margin-top: 1rem;
    color: red;
}
.link a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    margin-left: 0.5rem;
}
footer {
    margin-top: 20rem;
}
footer i {
    margin-left: 0.5rem;
    padding: 0 ;
    color: blue;
}
.bar {
    visibility: hidden;
}
.toggle {
    visibility: hidden;
}
/* i {
    visibility: hidden;
} */
.text {
    text-align: center;
/* border: 1px solid black; */

}

.image p {
    font-size: 30px;
    margin-top: 10rem;
  margin-left: 1rem;
  text-transform: none;
  color: white;
}
#button {
    background-color: transparent;
    color: gold;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border-radius: 10%;
    margin-left: 33rem;
   font-size: 20px;
   animation: shift 2s ease-in-out infinite;
   margin-bottom: -5rem;
}
#timid {
    margin-top: 5rem;
}
@keyframes shift {
    50% {
        color: rgb(2, 41, 2);
    }
}
#button:hover {
    background-color:rgb(2, 41, 2);
    color: gold;
    padding: 1rem 3rem;
}
.timid h1 {
    color: white;
    margin-top: -20rem;
    text-align: center;
    margin-left: -5rem;
}
h1 {
    color: white;
    margin-left: 6rem;
}
.middle p {
    text-transform: none;
    color: white;
    text-align: left;
    letter-spacing: 2px;
    margin-top: 4rem;
    margin-left: 5rem;
}
.middle {
    display: flex;
    margin-top: -10rem;
}
#span {
    color: blue;
    margin-left: 6rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
    animation: sting 2s ease-in-out infinite;
}
@keyframes sting {
    50% {
        color: white;
    }
}
form input {
    margin-top: 5rem;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    margin-left: 50rem;
}
.limp {
    margin-bottom: 2rem;
    border: 1px solid black;
    padding: 1rem 1rem;
    width: 11rem;
    border-radius: 10%;
    margin-left: 51rem;
    background-color: gold;
}
#foot {
    width: 100%;
    height: 15rem;
    margin-top: -1rem;
}
#timid {
    margin-top: -10rem;
}
.maximum {
    display: grid;
    margin-top: -11rem;
    margin-left: 3rem;
}
.maximum a {
    padding: 1rem 1rem;
    color: aqua;
}
.service {
    margin-top: 5rem;
}
img {
width: 20%;
margin-left: 60rem;
margin-bottom: -22rem;
}
.contact p {
    color: white;
    margin-left: 1rem;
    text-transform: none;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.contact {
    margin-left: 1rem;
}
.contact button {
    cursor: pointer;
    /* margin-left: 60rem;
    margin-top: 2rem; */
    margin-left: 4rem;
    padding: 1rem 2rem;
    background-color: transparent;
    margin-bottom: 2rem;
    color: gold;
    animation: shift 2s ease-in-out infinite;
}
@keyframes shift {
    50% {
        color: green;
    }
}
.cheese {
    margin-top: 2rem;
}
.cheese i {
    color: greenyellow;
    /* margin-left: 13rem; */
    align-items: center;
    padding: 0 0;
    margin-left: 3rem;
}
.cheese p {
    color: white;
    margin-left: -2rem;
    text-transform: none;
    margin-bottom: 2rem;
}
h1 {
    text-decoration: underline;
    text-decoration-color: aqua;
}
a:hover {
    color: aqua;
    text-decoration: underline;
    text-decoration-color: red;
}
.image p {
    text-align: start;
}
#button {
    margin-left: -1rem;
}
.timid {
    margin-left: 3rem;
    width: 20%;
    margin-bottom: 4rem;
}
@media screen and (max-width: 600px) {
    /* i {
        visibility: visible;
    } */
    h1 {
        margin-left: 5rem;
        margin-top: -22rem;
    }
    .toggle {
        visibility: visible;
    }
    .links {
        visibility: hidden;
    }
    .nav-bar {
        padding: 0.01rem;
        width: 100%;
    }
    .nav-bar p {
        margin-left: 1rem;
    }
    p {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .bar {
        background-color: rgb(180, 238, 218);
        width: 60%;
        height: 34.5rem;
        visibility: hidden;
        margin-top: -24rem;
        transform: translate(-100%);
        z-index: 1;
        position: absolu;
    }
    .close {
        margin-left: 15rem;
        margin-top: 2rem;
    }
    .bar i {
        margin-top: rem;
        margin-left: -1rem;
    }
    .bar p {
        margin-right: 6rem;
      margin-top: -2rem;
        animation: rest 2s ease-in-out infinite;
    }
    @keyframes rest {
        50% {
            color: white;
        }
    }
    .show-bar {
        visibility: visible;
        transform: translate(0);
        position: fixed;
        margin-top: -28rem;
        width: 60%;
        height: 100%;
        background-color: white;
    }
    .image p {
        font-size: 20px;
    }
    .middle {
        margin-top: 20rem;
        text-align: start;
        margin-left: -4rem;
        font-size: 13px;
       
    }
    .timid {
       
       margin-bottom: -13rem;
       margin-left: 5rem;
        width: 20%;
    }
    #button {
        margin-left: 0;
        margin-left: 4rem;
        margin-bottom: 4rem;
        background-color: transparent;
    }
    #foot {
        width: 100%;
    }
    .maximum a {
        margin-left: -2rem;
    }
    form input {
        margin-left: 0rem;
        margin-left: 13.5rem;
        margin-top: -2rem;
        margin-top: 5rem;
        padding: 0.5rem;
    }
    .limp {
        margin-left: 0;
        margin-left: 13rem;
        padding: 0.5rem 1rem;
    }
    #timid {
        margin-top: -8rem;
    }
    .service {
        margin-top: 40rem;
        margin-left: 0;
        margin-bottom: -17rem;
    }
    .contact {
        color: white;
        margin-top: 20rem;
        margin-left: 0.6rem;
    }
    .contact h1 {
       margin-left: 1rem;
       text-transform: none;
    }
    .contact p {
        text-transform: none;
        margin-left: -1rem;
        margin-top: -rem;
    }
    .contact button {
        cursor: pointer;
        margin-top: 2rem;
        padding: 1rem 2rem;
        background-color: transparent;
        color: gold;
        margin-left: 4rem;
        animation: shift 2s ease-in-out infinite;
    }
    @keyframes shift {
        50% {
            color: green;
        }
    }
    .cheese {
        margin-top: 2rem;
    }
    .phone, .whatsapp, .twitter {
        color: greenyellow;
        margin-left: 5rem;
    }
    .cheese p {
        color: white;
        margin-left: 1rem;
        text-transform: none;
    }
}